
:root {
    --header-link: #212121;
    --header-link-hover: #2196F3;
    --header-link-focus: #2196F3;
    --header-contact: #757575;
    --header-contact-hover-focus: #2196F3;
    --studio-link-current: #2196F3;
    --portfolio-current: #2196F3;
    --products-background: #F5F4FA;
    --products-hover: #FFFFFF;
    --products-hover-background: #2196F3;
    --products-focus: #FFFFFF;
    --products-focus-background: #2196F3;
    --products-active: #2196F3;
    --exemplum-product: #757575;
    --address-contacts-hover-focus: #2196F3;
}


body {
    font-family: 'Roboto',  sans-serif;

    color: #212121;

}   


    .header-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    
    
        .header-logo>.web {
    
            color: #2196F3;
        }
    
        .header-logo>.studio {
    
            color: #000000;
        }


        .header-nav > .header-logo {
            text-decoration: none;
        }
        
        .header-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            list-style: none;
            color: var(--header-link);
          
        }

        
        
        .studio-link-current {
            color: var(--studio-link-current);
        }

        .portfolio-current {
            color: var(--portfolio-current);
        }

        .studio-link:hover{
            color: var(--header-link-hover);
        }

        .portfolio:hover {
            color: var(--header-link-hover);
        }
        .contacts:hover {
            color: var(--header-link-hover);
        }

        .studio-link:focus {
            color: var(--header-link-focus);
        }
        
        .portfolio:focus {
            color: var(--header-link-focus);
        }
        
        .contacts:focus {
            color: var(--header-link-focus);
        }


        .studio-link, .portfolio,
        .contacts, .studio-link-current,
        .portfolio-current,
        .contacts-current {
            text-decoration: none;
        }
    
        .studio-link,
        .portfolio,
        .contacts {
            color: #212121;
        }
    
        .header-contact {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--header-contact);
        }

        .header-contacts {
            list-style: none;
        }

        .header-contact {
            text-decoration: none;
        }
        .header-contact:hover, .header-contact:focus {
            color:var(--header-contact-hover-focus);
        }
       

    /* Стили для index.html */

        /* Баннер */
        .hhero {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #2F303A;
        }

        .order-servise {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            cursor: pointer;
            background-color: #2196F3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }

        /* Наши преимущества */

        .chapter {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
        }

        .preference {
            list-style: none;
        }

        .advantage {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }

        .advantage-text {
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: #757575;
        }

        /*  Чем мы занимаемся  */

        .technics {
            list-style: none;
        }
    
        /*  Наша команда  */
    
        .team {
            list-style: none;
        }
    
        .team-photo {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.9;
            text-align: center;
            letter-spacing: 0.03em;
        }

        .position {
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
            color: #757575;
        }
    
        /* Стили для index.html */

    /*--Предложения--*/



    .products, .exemplum {
        list-style: none;
    }

    /*--products--*/

    .products-all,
    .products-website,
    .products-app,
    .products-design,
    .products-marketing {
        font-weight: 500;       
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        background: var(--products-background);
        cursor: pointer;
        font-family: inherit;
    }
   
    
    .products-all:hover {
        color: var(--products-hover);
        background: var(--products-hover-background);
    }
    .products-website:hover {
        color: var(--products-hover);
        background: var(--products-hover-background);
    }
    .products-app:hover {
        color: var(--products-hover);
        background: var(--products-hover-background);
    }
    .products-design:hover {
        color: var(--products-hover);
        background: var(--products-hover-background);
    }
    .products-marketing:hover {
        color: var(--products-hover);
        background: var(--products-hover-background);
    }

    .products-all:focus {
        color: var(--products-focus);
        background: var(--products-focus-background);
    }
    .products-website:focus {
        color: var(--products-focus);
        background: var(--products-focus-background);
    } 
    .products-app:focus {
        color: var(--products-focus);
        background: var(--products-focus-background);
    }
    .products-design:focus {
        color: var(--products-focus);
        background: var(--products-focus-background);
    }
    .products-marketing:focus {
        color: var(--products-focus);
        background: var(--products-focus-background);
    }

    .products-all:active {
        color: var(--products-active);
    }
    .products-website:active {
        color:var(--products-active);
    }
    .products-app:active {
        color:var(--products-active);
    }
    .products-design:active {
        color: var(--products-active);
    }
    .products-marketing:active {
        color: var(--products-active);
    }

    
    /*--exemplum--*/

    .htehnockryak, .hposter, .hrestaurant, .hprime, .hboxes, .hinspiration, .hlimited, .hlab, .hgrowing {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    .exemplum-website, .exemplum-design, .exemplum-app, .exemplum-marketing {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--exemplum-product); 
    }


    /*--Футер--*/

    .footer {
        background: #2F303A;
    }

    .footer-logo>.web {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
    }
    
    .footer-logo>.studio {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    
    .footer-logo {
        text-decoration: none;
    }

    .address-contacts {
        list-style: none;
    }

    .address-postoffice {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    .address-mail, .address-tel {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
    }

    .address-mail:hover {
        color: var(--address-contacts-hover-focus);
    }
    
    .address-mail:focus {
        color: var(--address-contacts-hover-focus);
    }
    
    .address-tel:hover {
        color: var(--address-contacts-hover-focus);
    }
    
    .address-tel:focus {
        color: var(--address-contacts-hover-focus);
    }
    
        