body {
    font-family: 'Roboto',  sans-serif;

    color: #212121;

}   

    .header-logo > .web {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
    }

    .header-logo > .studio {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;
    }

    .header-nav > .header-logo {
        text-decoration: none;
    }
    
    .header-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style: none;
        text-decoration: none;
    }

    .studio-link:hover, .studio-link:focus, .portfolio:hover, .portfolio:focus, .contacts:hover,
    .contacts:focus {
        color: #2196F3;
    }
     
    .header-mail, .header-tel {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style: none;
        color: #757575;
    }

    .header-contacts  a {
        text-decoration: none;
    }
    .header-mail:hover, .header-mail:focus {
        color: #757575;
    }
    .header-tel:hover, .header-tel:focus {
        color: #757575;
    }

    .products, .exemplum {
        list-style: none;
    }

    
    .products-all {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
    }
    .products-all:focus {
        color: #FFFFFF;
    }
    .products-all:hover {
        color: #FFFFFF;
    }
    .products-all:active {
        color: #2196F3;
    }
    .products-website {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
    }
    .products-website:hover {
        color: #FFFFFF;
    }
    .products-website:focus {
        color: #FFFFFF;
    }
    .products-website:active {
        color: #2196F3;
    }
    
    .products-app {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
    }
    .products-app:hover {
        color: #FFFFFF;
    }
    .products-app:focus {
        color: #FFFFFF;
    }
    .products-app:active {
        color: #2196F3;
    }

    .products-design {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
    }
    .products-design:hover {
        color: #FFFFFF;
    }
    .products-design:focus {
        color: #FFFFFF;
    }
    .products-design:active {
        color: #2196F3;
    }

    .products-marketing {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121; 
        cursor: pointer;
    }
    .products-marketing:hover {
        color: #FFFFFF;
    }
    .products-marketing:focus {
        color: #FFFFFF;
    }
    .products-marketing:active {
        color: #2196F3;
    }
   




