body {
    font-family: 'Roboto',  sans-serif;

    color: #212121;

}   

    .header-logo > .web {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
    }

    .header-logo > .studio {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;
    }

    .header-nav > .header-logo {
        text-decoration: none;
    }
    
    .header-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style: none;
    }

    .studio-link:hover{
        color: #2196F3;
    }
    .portfolio:hover {
        color: #2196F3;
    }
    .contacts:hover {
        color: #2196F3;
    }

    .studio-link:focus {
        color: #2196F3;
    }
    
    .portfolio:focus {
        color: #2196F3;
    }
    
    .contacts:focus {
        color: #2196F3;
    }


    .studio-link, .portfolio, .contacts {
        text-decoration: none;
    }
   
   
    .header-mail {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
        color: #757575;
    }

    .header-tel {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
       
        color: #757575;
    }

    .header-contacts li {
        list-style: none;
    }

    .header-contacts  a {
        text-decoration: none;
    }
    .header-mail:hover {
        color: #2196F3;
    }
    .header-mail:focus {
        color: #2196F3;
    }

    .header-tel:hover {
        color: #2196F3;
    }

    .header-tel:focus {
        color: #2196F3;
    }

    .products, .exemplum {
        list-style: none;
    }

    
    .products-all, .products-website, .products-app, .products-design, .products-marketing:hover {
        color: #FFFFFF;
    }

    .products-all, .products-website, .products-app, .products-design, .products-marketing:focus {
        color: #FFFFFF;
    }

    .products-all {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
    }
    .products-all:active {
        color: #2196F3;
    }
    .products-website {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;

    }

    .products-app {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
    }

    .products-design {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
    }

    .products-marketing {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        cursor: pointer;
    }






